@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

body {
    background-color: rgb(15, 23, 42);
}

.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}